# 本地开发创建./.env 并复制本文件即可，注意不要commit数据库文件和敏感信息

# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# MYSQL地址，理论上也可以是PlanetScale的。
# https://www.prisma.io/docs/orm/reference/connection-urls#mysql
DATABASE_URL="mysql://"

# 虽然prisma不支持动态源，但是部署为sqllite是可能的。
# 请将prisma/schema.prisma内的 datasource 的 provider 改为 sqllite，
# 将表中字段为 String 后的 @db.* 删去（如果有）
# 给出sqllitel路径
# DATABASE_URL="file:C:/to/your/dev.db"
# 运行pnpm run db:generate
# 现在你的数据库应该准备好了。

# JWT密钥，如果不设置将会生成随机密钥临时运行。
# 在部署后密钥需要保密。
XE_AI_JWT_SECRET_KEY="随便什么东西"

# 生产环境下的环境变量设置 https://nuxt.com/docs/guide/directory-structure/env#production