$view-border-width: 0.1rem !default;
$view-dragger-width: 0.6rem !default;
$highlight-color: rgba(var(--v-theme-primary)) !default;
$error-color: rgba(var(--v-theme-error)) !default;

@mixin dragger-base {
  min-width: $view-dragger-width;
  min-height: $view-dragger-width;
  user-select: none;
  z-index: 999;
  transition: background-color 200ms ease;
  border-style: solid;
  border-width: 0;
  border-color: transparent;
  background-clip: padding-box;
  &.active,
  &:hover {
    border-color: rgba(var(--v-theme-background));
    background-color: $highlight-color;
  }
  &.reject {
    background-color: $error-color;
  }
  &.offset-x {
    transform: translateX(
      calc(0px - (($view-dragger-width + $view-border-width) / 2))
    );
    border-left-width: $view-border-width;
    border-right-width: $view-border-width;
    cursor: col-resize;
  }
  &.offset-y {
    transform: translateY(
      calc(0px - (($view-dragger-width + $view-border-width) / 2))
    );
    border-top-width: $view-border-width;
    border-bottom-width: $view-border-width;
    cursor: row-resize;
  }
}
